In [94]:
import pandas as pd

In [95]:
df=pd.read_excel("Book1.xlsx")
# here we read the contain in the dataset

In [96]:
df.head()
#here we check first 5 enteries in the dataset

   Rollno      Name  Marks    City Gender
0       1  Vaidehi    98.0  Nagpur      F
1       2  Swapnil    56.0    pune      M
2       3   Sonika     NaN   Thane      F
3       4   Rutwik    97.0    pune      M
4       5   Aditya    45.0    Khed      M

In [97]:
#Fetch last 5 records

In [98]:
df.tail()
#here we check last 5 enteries in the dataset

    Rollno     Name  Marks      City Gender
25      26  Krutika   67.0  Buldhana      F
26      27     Anuj    NaN    Chikli      M
27      28    Karan    NaN   Mehekar      M
28      29   Vishal  100.0    Raigad      M
29      30   Siddhi   99.0    Rajgad      F

In [99]:
df.shape

(30, 5)

In [100]:
print("no of rows in the dataset are",df.shape[0],"no of column in the dataset are",df.shape[1])

TypeError: 'Series' object is not callable

In [ ]:
#here we analyse the no of rows and columns in the dataset

In [ ]:
df.info()

In [ ]:
# here we analyze that there are total 23 columns in the dataset from which 
#2 columns has float as datatype,13 columns has int kind of datatype and 8 columns has object as datatype

In [ ]:
df.describe()

In [ ]:
# here we analyse  the mean,overall count min and max value

In [ ]:
df.isnull

In [ ]:
df["Marks"].isna()

In [ ]:
df["Marks"].isna().sum()

In [ ]:
import numpy as np
#import numpy library for numerical analyzation

In [ ]:
# calculate the mean 
mean_att=df['Marks'].mean()

In [ ]:
df.columns

In [ ]:
# print the mean
print(mean_att)

In [ ]:
# calculate the mode 
mode=df['Marks'].mode()

In [ ]:
df.columns

In [ ]:
# print the mode
print(mode)

In [ ]:
# claculate the median
median_att=df['Marks'].median()

In [ ]:
df.columns

In [ ]:
# print median
print(median_att)

In [ ]:
# calculate the variance
var=df['Marks'].var()

In [ ]:
df.columns

In [ ]:
# print the variance
print(var)

In [ ]:
# calculate the standard deviation
std=df['Marks'].std()

In [ ]:
df.columns

In [ ]:
#print the standard deviation
print(std)

In [ ]:
df.isnull().sum()

In [ ]:
df2=df.copy()

In [101]:
for col in df.columns:
    if col in df2.columns:
        if df2[col].isnull().any() and pd.api.types.is_numeric_dtype(df2[col]):
            df2[col] = df2[col].fillna(value = df2[col].mean())

In [103]:
df2.isnull().sum()

Rollno    0
Name      0
Marks     0
City      4
Gender    0
dtype: int64